/**Top menu**/


#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	margin:0 0 0 2px; padding:0;
	min-height:28px;
	width:auto;
	list-style:none;
	font-size:13px;
	flo at:right;
	/*font-size:90%*/
}
#horizontal-multilevel-menu{
	width: 746px;
	overflow: hidden;
}
#horizontal-multilevel-menu
{
	height:28px;
}

/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	padding:6px 25px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
}

#horizontal-multilevel-menu li 
{
	float:left;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#fff;
	padding:6px 25px;
	border-left:1px solid #75aad2;
}
#horizontal-multilevel-menu li a.root-item.first
{
	/*border:0;*/
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:url(images/menu_bg_sel.jpg) repeat-x;
	color:#969696;
	padding:6px 25px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:url(images/menu_bg_sel.jpg) repeat-x;
	color:#969696;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	background: url(images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	
}
/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	color:#1c63ae;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:212px;
	height:150px;
	background:url(images/submenu_bg.png) repeat;
	
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
	width:100%;
	
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
	color:#1c63ae;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	/*color:#4F4F4F;*/
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#fff;
	background:#275E9F url(images/header_bg.jpg) repeat-x;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-127px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}
#horizontal-multilevel-menu li ul
{
	margin:-177px 0 0 1px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}


#horizontal-multilevel-menu li ul {
    margin: -184px 0 0 1px;
}
#horizontal-multilevel-menu li ul {
    background: url("images/submenu_bg.png") repeat scroll 0 0 transparent;
    display: none;
    height: 156px;
    position: absolute;
    top: auto;
    width: 310px;
    z-index: 500;
}