div.leftmenu
{
	font-size:100%;
}

div.leftmenu ul
{
	list-style-type: none;
	margin: 0; padding:0;
}

div.leftmenu ul ul
{
	width: auto;

}

div.leftmenu li
{
	padding:0;
}

div.leftmenu li li
{
	padding:0;
}

div.leftmenu li.close ul
{
	display: none;
}

div.leftmenu div.item
{
	position:relative;
	height:30px;
	background:url(images/leftmenu_bg.png);
	padding-left:40px;
	padding-right:40px;
	line-height:30px;
	overflow:hidden;
}
div.leftmenu div.item.sel
{
	background:url(images/leftmenu_bg_up.png);
	margin-right:-16px;
	
}
div.leftmenu div.item.sel a{color:#bebebe;}
div.leftmenu div.item.inside
{
	background:#fff;/*url(images/inside_top.jpg) top right;*/
	margin-right:0px;
}
.subm
{
	padding-left:18px;
	background:url(images/inside_bg.jpg) bottom center repeat-x;
}
.subm div.item
{
	background:none !important;
	height:auto !important;
	padding-left:60px !important;
}
div.leftmenu div.item a
{
	font-size:13px;
	text-decoration:none;
}
.subm div.item a
{
	font-size:12px;
}
/*Icons*/
div.folder, div.page
{
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	vertical-align:top;
}
.item div.folder, .item div.page, .item div.folder2
{
	margin-top:11px;
	margin-left:-18px;
}
div.folder{cursor:pointer; cursor: hand;background-image:url(images/folder_open.gif);}
div.leftmenu li.close div.folder{background-image:url(images/folder_close.gif);}
div.page{}
div.leftmenu li.close
{
	border-right:1px solid #ececee;
}
div.leftmenu li.close.clese
{
	border-right:none;
}
.csele .aro
{
	color:#fff;
	background:url(images/3rdlevel_arrow.jpg) no-repeat right center;
	/*margin-right:-16px;
	//background:url(images/3rdlevel_arrow.jpg) no-repeat 268px center;
	//margin-right:-16px;*/
	position:absolute;
	left:268px;
	width:17px;
	height:150px;
	font-size:1px;
	line-height:1px;
	float:left;
}